.Admins {
  .tablesorter td {
    cursor: pointer !important;
  }

  .logoContainer {
    width: 170px;
    height: 170px;
    margin: auto;
    margin-bottom: 70px !important;
    text-align: center;

    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      border: 1px solid #324479;
      padding: 15px;
    }
  }
  i {
    cursor: pointer;
    font-size: 17px;
    &:hover {
      color: #324479;
    }
  }
  .title {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 25px;
    text-transform: uppercase;
  }
  .Subtitle {
    margin-left: 35px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0px;
  }
  .AddContainer {
    text-align: right;
    margin-right: 20px;
    margin-top: 17px;
    i {
      border: 1px solid #000;
      padding: 10px;
      border-radius: 50%;
      &:hover {
        border-color: #324479;
      }
    }
  }
  .dataContainer {
    margin-left: 45px;
    margin-top: 20px;
    .value {
      font-size: 18px;
    }
    .item {
      font-size: 20px;
      margin-right: 15px;
    }
  }
  .sperator {
    width: 80%;
    border-top: 1px solid #324479;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}
